
VetApp/.vs/ProjectEvaluation/vetapp.metadata.v5.2
VetApp/.vs/ProjectEvaluation/vetapp.metadata.v5.2
VetApp/.vs/ProjectEvaluation/vetapp.projects.v5.2
VetApp/.vs/VetApp/DesignTimeBuild/.dtbcache.v2
VetApp/.vs/VetApp/v17/.futdcache.v2
VetApp/.vs/VetApp/v17/.suo
