            <!-- ============================================================== -->
<!-- Start Page Content here -->
<!-- ============================================================== -->

<div class="content-page">
    <div class="content">


        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 style="margin-left: 45%;" class="header-title">Formulario factura</h4>
                        <br>
                        <br>

                        <div style="margin-left: 19%;" class="row">
                            <div class="col-md-3">
                                <p class="mb-1 fw-bold ">Cliente</p>

                                <select class="form-control" data-toggle="select2" data-width="100%">
                                    <option value="AK">Seleccione Cliente</option>
                                    <option value="AK">Luis Navarro</option>
                                    <option value="HI">Luis Villareal</option>
                                    <option value="CA">Yohan Mora</option>
                                    <option value="NV">Bryan Rojas</option>
                                </select>
                            </div> <!-- end col -->

                            <div class="col-md-2">
                                <label for="inputState" class="form-label">Moneda</label>
                                <select id="inputState" class="form-select">
                                    <option>Colón</option>
                                    <option>Dolar</option>
                                </select>
                            </div> <!-- end col -->

                            <div class="col-md-2">
                                <label for="inputState" class="form-label">Tipo Factura</label>
                                <select id="inputState" class="form-select">
                                    <option>Contado</option>
                                    <option>Credito</option>
                                </select>
                            </div> <!-- end col -->

                            <div class="col-md-2">
                                <label for="inputZip" class="form-label">Fecha</label>
                                <input type="text" class="form-control" id="inputZip" placeholder="YY/MM/DD">
                                </select>
                            </div> <!-- end col -->


                        </div> <!-- end row -->
                        <br>
                        <div style="margin-left: 19%;" class="row">
                            <div class="col-md-3">
                                <p class="mb-1 fw-bold ">Servicio a facturar</p>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="customradio1" checked>
                                    <label class="form-check-label" for="customradio1">Producto</label>
                                </div>
                                <div class="form-check mb-2">
                                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="customradio1" checked>
                                    <label class="form-check-label" for="customradio1">Servicio</label>
                                </div>

                                <select class="form-control" data-toggle="select2" data-width="100%">
                                    <option value="">Seleccione Servicio</option>
                                    <option value="HI">Cataflan</option>
                                    <option value="CA">X-Ray</option>
                                    <option value="NV">Apendicitis</option>
                                </select>
                            </div> <!-- end col -->

                            <div class=" col-md-2">
                                <br>
                                <br>
                                <br>
                                <label for="inputZip" class="form-label">Cantidad</label>
                                <input type="text" class="form-control" id="inputZip">
                                </select>
                            </div> <!-- end col -->

                            <div class="col-md-2">
                                <br>
                                <br>
                                <br>
                                <label for="inputZip" class="form-label">Detalle</label>
                                <input type="text" class="form-control" id="inputZip">
                                </select>
                            </div> <!-- end col -->

                            <div class="col-md-2">
                                <br>
                                <br>
                                <br>
                                <label for="inputZip" class="form-label">Descuento</label>
                                <input type="text" class="form-control" id="inputZip">
                                </select><br>
                            </div> <!-- end col -->


                        </div> <!-- end row -->
                        <button style="margin-left: 570px;" type="button" class="btn btn-primary waves-effect waves-light">Agregar</button>
                        <div><br></div>
                        <hr class="my-2">

                        <div class="row">
                            <div class="col-md-7">
                                <div class="table-responsive">
                                    <table class="table table-hover mb-0">
                                        <thead>
                                            <tr>
                                                <th>Id Producto</th>
                                                <th>Servicio</th>
                                                <th>Detalle</th>
                                                <th>Cantidad</th>
                                                <th>Precio</th>
                                                <th>Descuento</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            <tr>
                                                <td>1</td>
                                                <td>Ibuprofeno</td>
                                                <td>2 cada 5 horas</td>
                                                <td>10</td>
                                                <td>1000</td>
                                                <td>15%</td>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                                <td>X-Ray</td>
                                                <td>X-Ray Gato</td>
                                                <td>1</td>
                                                <td>15000</td>
                                                <td>N/A</td>
                                            </tr>
                                            <tr>
                                                <td>3</td>
                                                <td>Cataflan</td>
                                                <td>1 cada 8 horas</td>
                                                <td>20</td>
                                                <td>18000</td>
                                                <td>N/A</td>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                                <td>Apendicitis</td>
                                                <td>Apendicitis Rata</td>
                                                <td>1</td>
                                                <td>20000</td>
                                                <td>50%</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                            </div>

                            <div style="margin-left: 50px;" class="col-md-4">
                                <br>
                                <label for="inputZip" class="form-label">Sub Total</label>
                                <input type="text" class="form-control" id="inputZip">

                                <div class="row">
                                    <div class="col-md-4">
                                        <br>
                                        <label for="inputZip" class="form-label">IVA Productos</label>
                                        <input type="text" class="form-control" id="inputZip">
                                    </div>
                                    <div class="col-md-4">
                                        <br>
                                        <label for="inputZip" class="form-label">Servicios</label>
                                        <input type="text" class="form-control" id="inputZip">
                                    </div>
                                </div>
                                <br>
                                <label for="inputZip" class="form-label">Total a Pagar</label>
                                <input type="text" class="form-control" id="inputZip">
                            </div>
                        </div> <!-- end .table-responsive-->
                        <br>
                        <hr class="my-2">
                        <br>

                        <h4 style="margin-left: 45%;" class="header-title">Procesar factura</h4>
                        <br>
                        <br>

                        <div style="margin-left: 19%;" class="row">
                            <div class="col-md-3">
                                <label for="inputState" class="form-label">Tipo de Pago</label>
                                <select id="inputState" class="form-select">
                                    <option>Efectivo</option>
                                    <option>Tarjeta</option>
                                </select>
                            </div> <!-- end col -->

                            <div class="col-md-3">
                                <label for="inputZip" class="form-label">Cancela Con</label>
                                <input type="text" class="form-control" id="inputZip" placeholder="₡₡₡">
                            </div> <!-- end col -->

                            <div class="col-md-3">
                                <label for="inputZip" class="form-label">Vuelto</label>
                                <input type="text" class="form-control" id="inputZip" placeholder="₡₡₡">
                            </div> <!-- end col -->


                        </div> <!-- end row -->
                        <br>
                        <div style="margin-left: 19%;" class="row">
                            <div class="col-md-3">
                            </div> <!-- end col -->
                        </div> <!-- end row -->
                        <button style="margin-left: 570px;" type="button" class="btn btn-primary waves-effect waves-light">Procesas</button>
                        <div><br></div>

                    </div> <!-- end card-body-->
                </div> <!-- end card-->
            </div> <!-- end col-->
        </div>
        <!-- end row-->



    </div> <!-- container -->

</div> <!-- content -->
            </div>

<!-- ============================================================== -->
<!-- End Page content -->
<!-- ============================================================== -->